.PhoneInputCountry {
  align-self: center;
}

.PhoneInputCountryIcon svg {
  display: block;
}

.PhoneInputInput {
  border: none;
  outline: none;
  background: transparent;
}

.PhoneInputInput:focus {
  outline: none;
  box-shadow: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
